{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "simon"
    ],
    "globals": {
        "VERSION": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    }
}
