{
    "globals": {
        "VERSION": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "semi": "error",
        "no-console": "error",
        "object-curly-spacing": ["error", "never"]
    }
}
