::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #505276;
    border-radius: 0.2em;
}

::-webkit-scrollbar-corner {
    display: none;
}

:root {
    --c-text: #c2c5eb;
    --c-primary: #8d92ff;

    --cta-button-gradient: linear-gradient(137deg, #8708df, #2077db, #3cecd5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #0a0e21;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

header {
    text-align: center;
    font-size: 2.5em;
    padding: 1.2em 0 0.5em 0;
}

header h1 {
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: lighter;
    color: var(--c-text);
}

header a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.3em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: var(--cta-button-gradient);
    border-radius: 50em;
    position: relative;
}

header a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
    bottom: 0;
    background: var(--cta-button-gradient);
    transition: 0.3s all;
    transform: scale(0.95);
    filter: blur(10px);
    z-index: -1;
}

header a svg {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}

header a:hover {
    filter: brightness(1.05);
}

header a:hover::before {
    filter: blur(10px) brightness(1.1);
    transform: none;
}

h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: var(--c-text);
}

main {
    width: 100%;
    max-width: 50em;
    margin: 1.5em auto;
    padding-bottom: 10rem;
}

main section.demo .info {
    text-align: center;
    margin: 1em 0 2em 0;
    font-size: 13px;
    line-height: 2em;
    color: var(--c-text);
}

main .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px dashed #4f5276;
    border-radius: 0.15em;
    padding: 15px;
    user-select: none;
}

main .boxes.green,
main .boxes.blue {
    margin-bottom: 3em;
}

main .boxes.red {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-gap: 0.4em;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 25em;
    overflow: auto;
    padding: 0.5em;
    margin-bottom: 3em;
}

main .boxes.red > div {
    margin: 0;
}

main .boxes div {
    height: 3em;
    width: 3em;
    margin: 0.2em;
    background: rgba(66, 68, 90, 0.075);
    border-radius: 0.15em;
    cursor: pointer;
}

main .boxes.green div.selected {
    background: linear-gradient(45deg, #78b2ff, #218ad9);
}

main .boxes.blue div.selected {
    background: linear-gradient(45deg, #9e91ef, #5c51b4);
}

main .boxes.red div.selected {
    background: linear-gradient(45deg, #ff74f0, #a114a5);
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 1px solid rgba(98, 155, 255, 0.85);
    border-radius: 0.15em;
}

main section.demo .info p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.key {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--c-primary);
    font-size: 10px;
    line-height: 1em;
    padding: 0.25em 0.4em 0.2em 0.4em;
    margin: 0 0.5em -4px;
    border: 1px solid var(--c-primary);
    border-bottom: 2px solid var(--c-primary);
    border-radius: 2px;
}
