/**
 * Creator: Simon R.
 */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #faf9f7;
}

header {
  text-align: center;
  font-family: 'Pacifico';
  letter-spacing: 0.2em;
  font-size: 2.5em;
  margin: 0.8em 0;
}

header .js {
  color: #14c3e3;
}

main > section {
  width: 100%;
  max-width: 50em;
  margin: 3em auto;
}

main > section .head {
  display: block;
  margin-bottom: 0.4em;
  font-family: 'Pacifico';
  font-size: 1.2em;
  text-align: center;
}

/* details */

main section.demo .head {
  margin-left: 0.7em;
}

main section.demo .box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.demo .box-wrap.green {
  margin-bottom: 3em;
}

main .box-wrap::after {
  display: block;
  content: '';
  clear: both;
}

main .boxes div {
  height: 2em;
  width: 5em;
  margin: 0.2em;
  background: #f5f4f2;
  -webkit-box-shadow: 0 0.05em 0.2em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.05em 0.2em 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.15em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

main .boxes div.selected {
  -webkit-box-shadow: 0 0.05em 0.2em 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.05em 0.2em 0 rgba(0, 0, 0, 0.2);
}

main .boxes.green div.selected {
  background: #7febc2;
}

main .boxes.blue div.selected {
  background: #7fa0eb;
}

.selection {
  background: rgba(0, 0, 255, 0.1);
  border-radius: 0.1em;
  border: 0.05em solid rgba(0, 0, 255, 0.2);
}


main section.demo-code pre {
  background: #F4F1EF;
  border-radius: 0.2em;
}